@charset "utf-8";
.text01 {
	color: #CF331D;
	font-size: 16px;
	font-weight: bolder;
}
.text03 {
	color: #6B18D3;
	font-weight: 500;
	font-size: 13px;
}

.text02 {
	color: #003377;
	font-size: 16px;
	font-weight: 600;
}
.pic01 {
	border: 10px double #8D9B8F;
	float: right;
	margin: 10px;
	padding: 5px;
	clear: center;
}
